.sign-in-left
{
  width: 100%;
  height: 100%;
}

.sign-in-right
{
  background-color: #303030;
  width: 100%;
  height: 100%;
}

.left-title
{
  height: 33%;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  color: #3F51B5;
}

.left-half
{
  height: 64%;
  color: #3F51B5;
  font-size: 14px;
}

.inputs
{
  width: 84%;
}

.buttons
{
  width: 100%;
}

.button
{
  width: 38.5%;
}

.left-inputs {
  width: 100%;
}

.left-bottom {
}