<div class="full-sized-background">
  <div fxLayout="row" fxLayoutAlign="end stretch" fxFill>
    <div  fxLayout="column" fxLayoutAlign="center center" class="form">
      <mat-form-field appearance="outline" class="input">
        <mat-label>Email</mat-label>
        <input matInput>
        <mat-icon matSuffix class="icon">mail_outline</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="input">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
        <mat-icon matSuffix class="icon">lock</mat-icon>
      </mat-form-field>
      <button mat-flat-button class="login-button">Login</button>
      <button mat-flat-button class="register-button">Register</button>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon matSuffix class="clickable-icon">code</mat-icon>
        <mat-icon matSuffix class="clickable-icon">mail_outline</mat-icon>
      </div>
    </div>
  </div>
</div>