mat-drawer {
    width: 20%;
}
  
mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottom-icon {
    position: fixed;
    bottom: 15px;
    right: 15px;
}