mat-drawer {
    width: 20%;
    background-color: #EEEEEE;
}
  
mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottom-icon {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

mat-card {
    background-color: #3f51b5;
    border-radius: 0%;
    color: white;
    font-size: large;
    cursor: pointer;
}

mat-card:hover {
    color: #CCCCCC;
}

.padding-icon {
    padding-right: 15px;
}