<h2 mat-dialog-title>Agenda</h2>
<mat-dialog-content class="mat-typography">
    <p>Gestionaire d'agenda connecté à Google Agenda :</p>
    <p>Créer des événements ou des rappels.</p>
    <p>Editer un événement : Titre, Date, Heure, lieu ...</p>
    <p>Supprimer un événement s'il s'agit d'une erreur ou simplement d'une annulation</p>
    <br>
    <p>voir :<a href="https://calendar.google.com/calendar/u/0/r">Google Agenda</a></p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>