<div fxLayout="row" fxLayoutAlign="start stretch" fxFill>
    <div fxFlex="70%" class="sign-background"></div>
    <div fxFlex="30%" class="sign-div-color" fxLayout="column" fxLayoutAlign="space-around center">
        <div fxFlex="70%" fxLayout="column" fxLayoutAlign="space-around center" fxFill>
            <div fxFlex="10%" fxLayout="column" fxLayoutAlign="center center">
                <h1>League of Merline</h1>
                <h5>Inscription</h5>
            </div>
            <div fxFlex="40%" fxLayout="column" fxLayoutAlign="space-around center" fxFill>
                <mat-form-field appearance="outline" class="sign-input">
                    <mat-label>Prénom</mat-label>
                    <input matInput placeholder="Adrien">
                </mat-form-field>
                <mat-form-field appearance="outline" class="sign-input">
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="Colombier">
                </mat-form-field>
                <mat-form-field appearance="outline" class="sign-input">
                    <mat-label>Adresse mail</mat-label>
                    <input matInput placeholder="adrien.colombier@epitech.eu">
                </mat-form-field>
                <mat-form-field appearance="outline" class="sign-input">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password">
                </mat-form-field>
                <button mat-raised-button color="primary" class="sign-button" fxLayout="row" fxLayoutAlign="space-around center"><mat-icon>add</mat-icon> Inscription</button>
            </div>
        </div>
        <div fxFlex="30%" fxLayout="column" fxLayoutAlign="space-around center" fxFill>
            <a mat-raised-button href="sign-in" class="sign-button" fxLayout="row" fxLayoutAlign="space-around center"><mat-icon>person</mat-icon> J'ai déjà un compte</a>
        </div>
    </div>
</div>